# This file is used to set environment variables for the application.
# Make sure to not delete this file, but rather create a copy named `.env` and fill in the values.
# You can use the example values provided here as a reference.

# Database configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/shpe-website-2025"

# Supabase Auth configuration
# These values are used to connect to Supabase for authentication management.
# You can find these values in your Supabase project settings.
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
