@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.hero-title {
  font-size: 233px;
  font-weight: 600;
  line-height: 1;
  text-shadow: rgba(0, 0, 0, 0.467) 0px 4.98941px 29.6371px;
  opacity: 1;
  display: inline-block;      /* needed so transform only affects text */
  transform: scaleX(1.2);     /* stretch to 120% width; tweak as needed */
  transform-origin: left;     /* scale out from left edge */
  
}